$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
.to_do {
  border: solid thin black;
}

.to_do_text {
  border: solid thin black;
  height: 200px;
}

.side-bar {
  height: 700px;
  border: solid thin black;
}

.create-list-box{
  border: solid thin black;
  height: 40px;
  vertical-align: middle;
  padding-top: 5px;
}

.poster-board{
  border: solid thin black;
  height: 300px;
}

.list{
  border:solid thin black;
}
