$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.jumbotron{
  padding-top: 50px;
  padding-bottom: 20px;
  // background-image: url("https://phraseit.net/image/rendered/vazc46.jpg");
  // background-repeat: no-repeat;
  // background-size: 100% auto;
  // height: 500px;
}
.to_do {
  border: solid thin black;
}
.jumbo-image{
  width: 100%;
  height: auto;
}
.to_do_text {
  border: solid thin black;
  height: 200px;
}
.header{
  border: solid thin black;
}
.side-bar {
  height: 700px;
  border: solid thin black;
}

.add-form{
  padding: 5px;
}
.create-list-box{
  border: solid thin black;
}
.btn-group-horizontal{
  padding: 5px;
}

.poster-board{
  border: solid thin black;
  margin-bottom: 100px;
}

.list{
  border: solid thin black;
}

.check-button{
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 30px;
      border-left: thin solid black;
      border-bottom: thin solid black;
      padding: 8px 10px;
  }

.check-button:hover {
  background-color: #f44336;
  color: white;
}

.remove-button{
      position: absolute;
      right: 0;
      top: 0;
      border-left: thin solid black;
      border-bottom: thin solid black;
      padding: 8px 10px;
  }
.award{
  height: 35px;
  width: 20px;
}
.remove-button:hover {
  background-color: #f44336;
  color: white;
}
.footer {
  margin-top: 50px;
}
.small{
  font-size: 20px;
}
.watched{
  text-decoration: line-through;
}
.movie{
  padding: 5px 0px 5px 15px;
  margin: -5px 0px -5px -15px;
}
.choice{
  background-color: green;
}
